* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    
    background-color: #E0E0E0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar::window-inactive {
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(57, 132, 60, 0.4);
    border-radius: 10px;
}


/********************************************
        CONTROL PANEL
*********************************************/
#control-panel {
    position: relative;
    height: 100vh;
    width: calc(20vw - 2px);
    min-width: 400px;

    margin-left: 2px;
    padding: 40px 20px;

    background-color: #4caf50;
}

#control-panel ul {
    list-style-type: none;
}

/***** Misc. *****/
#control-panel .separator, #control-panel .empty-list {
    margin-top: 25px;
    margin-bottom: 5px;

    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-weight: bold;
}

#control-panel .empty-list {
    text-align: center;
    text-transform: none;
}

/***** Search *****/
#search {
    width: 100%;
    margin-bottom: 40px;
}

#search input {
    width: 100%;
    height: 40px;

    padding: 10px;

    font-size: 1.2em;
    color: white;

    border: none;
    border-radius: 5px;
    background-color: #39843c;
}

#search input:focus, #search input:active, #search input:hover {
    box-shadow: inset 0 0 7px 0.5px rgba(0, 0, 0, 0.2);
}

#search-results {
    margin-top: 5px;
    padding: 15px;
    
    background-color: #FAFAFA;
    border-radius: 5px;
}

#search-results .separator {
    margin-top: 0;
    color: #39843c;
}

#control-panel #results-list li,
#control-panel #open-notes li {
    margin: 0 -15px;
    padding: 10px 15px;

    color: black;
    font-size: 1.2em;
}

#control-panel #results-list li:hover {
    cursor: pointer;
    color: #FAFAFA;
    background-color: #39843c;
}

#control-panel #results-list li em,
#control-panel #open-notes li em {
    font-size: 0.7em;
    font-style: normal;
}

/***** Open notes *****/
#control-panel #open-notes li {
    margin: 0 -20px;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.7);
}

#control-panel #open-notes li:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

/***** Actions *****/
#actions {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    padding: 15px;

    text-align: center;
}

#actions ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 1.3em;
    color: white;
    border-radius: 5px;
    background-color: #4caf50;
}

#actions li {
    flex-grow: 1;
    padding: 10px;

    border-radius: 5px;
}

#actions li:hover {
    cursor: pointer;

    background-color: white;
    color: #4caf50;
}

.close {
    float: right;
}

.close:hover {
    color: #d32f2f;
    cursor: pointer;
}


/********************************************
        WORKSPACE
*********************************************/
#workspace {
    height: 100vh;
    width: 80vw;
    padding: 30px 10px 0 10px;

    display: flex;
    flex-flow: wrap;
    justify-content: center;
    overflow-y: auto;
}

#workspace .note {
    /* 3 notes per row, -20px for left and right padding of the #workspace */
    width: calc(100% * (1/2) - 20px);
    max-width: 60%;
    margin: 10px;
    padding: 50px;

    flex: 1 auto;

    background-color: #FAFAFA;
    box-shadow: 0 0 6.8px 0.5px grey;
}

.note h1, .note input {
    position: relative;
    margin-bottom: 10px;

    color: #4caf50;
    font-size: 1.3em;
    text-transform: uppercase;
}

.note input {
    text-transform: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed #4caf50;
}

.note .note-tags {
    margin-bottom: 30px;
    color: white;
    font-size: 0.7em;
}

.note .note-tags span {
    padding: 2px 8px;
    background-color: rgba(76, 175, 80, 0.5);
    border-radius: 20px;
}

.note .note-tags span:hover {
    cursor: pointer;
    background-color: #4caf50;
}

.note .note-content {
    width: 100%;
    height: calc(100% - 93px);
    overflow-y: auto;
    padding: 15px 0;

    font-size: 1em;
    font-family: monospace;
    resize: none;
}

.note textarea.note-content {
    text-align: left;
    font-family: Inconsolata, monospace;
}

.note .note-actions {
    position: absolute;
    top: -5px; right: 0;

    padding: 5px;

    display: flex;

    border-radius: 5px;
    background-color: #4caf50;
    list-style-type: none;
}

.note .note-actions li {
    display: inline-block;
    padding: 5px;

    color: white;
    border-radius: 5px;
}

.note-actions li:hover {
    cursor: pointer;

    color: #4caf50;
    background-color: white;
}